	<!--<div class=triangle></div>-->
	<footer>
		<div class="grid grid-pad">
			<!--<div class="col-1-7"></div>-->
			<div class="col-1-7 block">
				<div class="content">
					<h3>Приложения</h3>
					<ul>
						<li><a href="#">Для компьютеров</a></li>
						<li><a href="#">Для телевизоров</a></li>
						<li><a href="#">Для смартфонов</a></li>
					</ul>
				</div>
			</div>
			<div class="col-1-7 block">
				<div class="content">
					<h3>Приставки</h3>
					<ul>
						<li><a href="#" target="_blank" rel="noopener noreferrer nofollow">OrangePi Zero</a></li>
						<li><a href="#" target="_blank" rel="noopener noreferrer nofollow">OrangePi One</a></li>
					</ul>
				</div>
			</div>
			<div class="col-1-7 block">
				<div class="content">
				<h3>Партнёрам</h3>
					<ul>
						<li><a href="#">Промо-материалы</a></li>
						<li><a href="#">Статистика</a></li>
						<li><a href="#">Мониторинг</a></li>
					</ul>
				</div>
			</div>
			<div class="col-1-7 block">
				<div class="content">
					<h3>Соцсети</h3>
					<ul>
						<li class="soc"><i class="fab fa-vk"></i> <a href="#" target="_blank" rel="noopener noreferrer nofollow">VK</a></li>
						<li class="soc"><i class="fab fa-telegram-plane"></i> <a href="#" target="_blank" rel="noopener noreferrer nofollow">Telegram</a></li>
						<li class="soc"><i class="fab fa-twitter"></i> <a href="#" target="_blank" rel="noopener noreferrer nofollow">Twitter</a></li>
					</ul>
				</div>
			</div>
			<div class="col-1-7"></div>
			<div class="col-2-7 block">
				<div class="content">
					<h3>Другие проекты</h3>
					<ul class="projects">
						<li><img src="https://myanimelist.cdn-dena.com/images/footer/icon_tom30.png?v=160803001" width="24" height="24"><a href="http://vkchan.ru" target="_blank" rel="noopener noreferrer nofollow">ВК-chan</a></li>
						<li><img src="https://myanimelist.cdn-dena.com/images/footer/icon_mtb30.png?v=160803001" width="24" height="24"><a href="http://wakfu.wf" target="_blank" rel="noopener noreferrer nofollow">WAKFU Community</a></li>
						<li class="projects"><a href="#">Смотреть все (2)</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-pad footer-bottom">
			<div class="col-2-4 bottom">
				<h4>HQ7 Connect</h4>
				<p class="entypo-right-open-mini"> Написать нам <a href="mailto:connect@hq7.ru">connect@hq7.ru</a></p>
			</div>
			<div class="col-2-4 bottom">
				<h4>Для разработчиков</h4>
				<p class="entypo-right-open-mini"><a href="#" target="_blank" rel="noopener noreferrer nofollow"> Читать документацию</a></p>
			</div>
			<span title="Веб-сайт может содержать контент сексуального характера, нецензурную лексику, изображения курения табака, пропаганду алкоголизма и др." class="restrictions">18+</span>
		</div>
		<div class="copyright-footer">2017 - 2019 © HQ7 :: <a href="#">Правила пользования веб-сайтом</a></div>
	</footer>
