<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-titles></app-titles>
    </div>
    <div class="col-9">
      <!--<app-search-title></app-search-title>-->

      <h1 class="text-center">Режим редактирования записи</h1>

      <form name="updateTitleForm" #f="ngForm" (ngSubmit)="f.form.valid && sendTitle()">

        <div class="form-group my-3">
          <label for="titleNameInputField">Имя:</label>
          <input type="text"
                 class="form-control"
                 id="titleNameInputField"
                 value="{{title.titleName}}"
                 [(ngModel)]="title.titleName"
                 name="titleNameInputField"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">Имя не соответствует требованиям</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="titleCategoryControlSelect">Выберите страну</label>
          <select class="form-control" name="titleCategoryControlSelect" (change)="filterCategory($event.target.value)" [(ngModel)]="title.titleCategory" id="titleCategoryControlSelect">
            <option *ngFor="let opt of opts" [value]="opt.id">{{opt.name}}</option>
          </select>
        </div>

        <div class="form-group my-3">
          <label>Ссылка на превью</label>
          <input type="text" class="form-control col-12 mr-2" name="image" [(ngModel)]="title.image" value="{{title.image}}">
        </div>

        <div>
          <label for="awardInputForm">Награды и номинации:</label>
          <form class="form-inline" id="awardInputForm">
            <input type="text" class="form-control col-6 mr-2" name="awardName" placeholder="Награда" [(ngModel)]="award.awardName" >
            <input type="text" class="form-control col-4 mr-2" name="awardQuantity" placeholder="Дополнительное описание" [(ngModel)]="award.quantity" >
            <button type="submit" class="btn btn-success" (click)="addToAwardsList()">Добавить</button>
          </form>

          <div class="container-fluid">
            <ul class="list-group list-group-flush ml-1 mr-5 mt-4" style="max-height: 250px; overflow: scroll; -webkit-overflow-scrolling: touch">
              <li *ngFor="let ing of title.awardsList">{{ing.awardName}} {{ing.quantity}}     <button type="button" class="close" aria-label="Close" (click)="deleteFromAwardsList(ing)"><span aria-hidden="true">&times;</span></button></li>
            </ul>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="instructionsTextArea">Видео (Iframe):</label>
          <textarea class="form-control"
                    id="instructionsTextArea"
                    rows="8"
                    [(ngModel)]="title.instructions"
                    name="instructionsTextArea"
                    #instructions="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && instructions.invalid }"
                    required
                    minlength="10">{{title.instructions}}</textarea>
          <div *ngIf="f.submitted && instructions.invalid" class="invalid-input">
            <div *ngIf="instructions.errors?.required">Поле обязательно к заполнению</div>
            <div *ngIf="instructions.errors?.minlength">Мало данных (Необходиомо как минимум 10 символов)</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="suggestionsTextArea">Описание:</label>
          <textarea class="form-control"
                    id="suggestionsTextArea"
                    rows="8" [(ngModel)]="title.suggestions"
                    name="suggestionsTextArea">{{title.suggestions}}</textarea>
        </div>

        <div class="container-fluid my-5">
          <div class="row">
            <div class="col-7"></div>
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn-info">Обновить</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
