<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-titles></app-titles>
    </div>
    <div class="col-9">
<!--      <app-search-title></app-search-title>-->
      <h1 class="display-3 text-center">{{title.titleName}}</h1>
      <h4>Награды и номинации:</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ing of title.awardsList">{{ing.awardName}}, {{ing.quantity}}</li>
      </ul>
      <h4>Контент:</h4>
      <div class="border border-light rounded">
        <ng-container *ngFor="let inst of instructions">
          <video controls height="360px" [innerHtml]="inst"></video>
        </ng-container>
      </div>
      <h4>Описание:</h4>
      <div class="border border-light rounded">
        <p *ngFor="let sug of suggestions">{{sug}}</p>
      </div>
      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-info"><a routerLink="/update_title/{{title.titleId}}" style="text-decoration: none; color: white">Обновить запись</a></button>
        </div>
        <div class="col-10">
          <button type="button" class="btn btn-danger" (click)="deleteThisTitle()">Удалить запись</button>
        </div>
      </div>
      <p class="text-right font-italic">Последний раз просмотрено {{title.lastAccessed | date:'dd MMM yyyy HH:mm:ss'}}</p>
      <p class="text-right">Всего просмотров: {{title.noOfTimesAccessed}}</p>
    </div>
  </div>
</div>
<app-footer-light></app-footer-light>
