<div class="media" id="slider">
  <div class="top" *ngFor="let title of titles">
    <img src="{{title.image}}">
    <div class="info">
      <h3 title>{{title.titleName}}</h3>
    </div>
    <div class="nav">
      <a class="watch" *ngIf="!isLoggedIn" routerLink="/auth/login">Смотреть</a>
      <a class="watch" *ngIf="isLoggedIn" routerLink="/title/{{title.titleId}}">Смотреть</a>
      <a class="more__info">{{title.lastAccessed | date: 'HH:mm:ss dd MMM yyyy'}}</a>
    </div>
  </div>
</div>