<div *ngIf="isLoggedIn; else loggedOut">
  Входим с правами {{roles}}
</div>

<ng-template #loggedOut>
  <div class="login">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Ник</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required />

        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Необходимо ввести ник</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />

        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Необходимо ввести пароль</div>
          <div *ngIf="password.errors.minlength">Пароль должен содержать не менее 6 символов</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Войти</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Ошибка авторизации: {{errorMessage}}
        </div>
      </div>
    </form>
   <!-- <a class="btn btn-success" routerLink="signup">Регистрация!</a>-->
  </div>
</ng-template>
