  <div class="index__header">
  <div class="bg" id="bg">
    <div class="index__nav">
      <div class="grid grid-pad">
        <div class="col-2-12">
          <div class="content">
            <img class="poster" id="contentPoster" alt="POSTER">
          </div>
        </div>
        <div class="col-8-12">
          <div class="content">
            <h1>{{dataPage[0] && dataPage[0].top_title}}</h1>
            <h2>{{dataPage[0].bottom_title}}</h2>
            <p class="description">{{dataPage[0].text}}</p>
            <div class="extra">
              <p><i class="far fa-calendar-alt"></i> {{dataPage[0].date_text}}</p>
              <p><i class="far fa-clock"></i> {{dataPage[0].time}} </p>
            </div>
            <a class="trailer" href="#" id="watchTrailer">Трейлер</a>
            <a class="watch__now" href="{{dataPage[0].link_to_watch}}">{{dataPage[0].text_to_watch}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="watch__trailer" id="trailer">
    <div class="h3">
      <a class="btn" href="{{dataPage[0].link_to_watch}}">{{dataPage[0].text_to_watch}}</a>
      <a class="btn btn-close" href="#" id="closeTrailer">Закрыть</a>
    </div>
    <div id="player">
      <video id="trailer__player" preload="none" (ended)="onEnded()" (click)="onPause()" (timeupdate)="updateTime()">
        <source src="{{dataPage[0].trailer_url}}">
      </video>
      <div class="seekbar">
        <span id="seekbar"></span>
      </div>
      <div id="replay" class="replay">
        <i class="fas fa-redo"></i>
      </div>
    </div>
  </div>
</div>
<div class="index__header__bottom">
  <div class="h3">
    <p>Фильмы и сериалы без рекламы в UltraHD с Hyper+</p>
    <div class="pay">
      <a class="btn btn-info" href="#"><i class="fas fa-info"></i></a>
      <a class="btn" href="#">Подключить</a>
    </div>
  </div>
</div>
<div class="containers index__list">
  <div class="slider-media-header">
    <div class="pull-right">
      <div class="btn-group--slider">
        <button class="btn__light" id="slide-2-left"><i class="fas fa-angle-left"></i></button>
        <button class="btn__light" id="slide-2-right"><i class="fas fa-angle-right"></i></button>
        <button class="btn__light" id="tv"><i class="fas fa-list-alt"></i></button>
      </div>
    </div>
    <span class="slider-media-title">
      <span>Популярное</span> <span class="icons-right-transparent"></span>
    </span>
  </div>
  <app-popular></app-popular>
  <div class="grid grid-pad">
    <div class="col-1-1 center">
      <a class="more" routerLink="/home">Смотреть весь каталог</a>
    </div>
  </div>
</div>
<app-footer></app-footer>