  <header>
    <div class="left">
      <a href="#">ГЛАВНАЯ</a>
      <a href="#">МЕДИА</a>
      <a href="#">ОБСУЖДЕНИЯ</a>
    </div>
    <div class="right">
      <a href="#">ПОДДЕРЖКА</a>
    </div>
  </header>
    <nav class="dark">
  <app-navigation></app-navigation>
  </nav>

  <!--<app-navigation></app-navigation>-->
  <router-outlet></router-outlet>