<div style="max-width: 350px">
  <input #searchBox class="form-control" (input)="search(searchBox.value)" placeholder="Введите название для поиска">

  <ul class="search-result">
    <li *ngFor="let title of titles$ | async" (click)="search('')">
      <a routerLink="/title/{{title.titleId}}" (click)="searchBox.value = ''">
        {{title.titleName}}
      </a>
    </li>
  </ul>
</div>
