.search-result li {
  flex-grow: 1;
  height: 35px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #222;
  color: #f2f322;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}

.search-result li a:active {
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
