<app-search-title></app-search-title>
<div style="max-width: 350px">
  <div class="btn-group" role="group" aria-label="Title categories">
    <button type="button" class="btn btn-secondary" (click)="getAllTitles()">Все</button>
    <button type="button" class="btn btn-secondary" *ngFor="let opt of opts" (click)="getAllByCategory(opt.id)">{{opt.name}}</button>
  </div>
  <div class="list-group ml-0" style="overflow: scroll; -webkit-overflow-scrolling: touch; max-height: 750px">
    <a class="list-group-item-action" *ngFor="let title of titles" routerLink="/title/{{title.titleId}}" style="padding: 8px 0px">{{title.titleName}}</a>
  </div>
</div>
