	<div class="line-separator"></div>
	<footer class="footer-light">
		<div class="grid grid-pad">
			<div class="col-1-1 copyright">
				<div class="content">
					<p>2019 © HQ7</p>
				</div>
			</div>
		</div>
	</footer>
