    <div class="grid">
      <div class="col-4-12">
        <div class="content">
          <div class="main-logo">
            <a routerLink="/main" id="main"><img src= "http://s.hypercdn.ru/img/hq7/assets/hq7.svg" alt="HQ7" class="logoBox"></a>
          </div>
        </div>
      </div>
      <div class="col-8-12">
        <div class="content">
          <div class="main-nav">
            <a *ngIf="authority === 'user' || authority === 'admin'" routerLink="/home"><span class="skew-fix">Каталог</span></a>
            <a *ngIf="authority === 'user' || authority === 'admin'" routerLink="/new_title"><span class="skew-fix">Добавить</span></a>
            <a *ngIf="authority === 'admin'" routerLink="/users"><span class="skew-fix">Люди</span></a>
            <a *ngIf="!authority" routerLink="/auth/login"><span class="skew-fix">Авторизация</span></a>
            <a *ngIf="!authority" routerLink="/auth/signup"><span class="skew-fix">Регистрация</span></a>
            <a *ngIf="authority === 'user' || authority === 'admin'" (click)="logout()" routerLink="" ><span class="skew-fix">Выйти</span></a>
          </div>
        </div>
      </div>
    </div>
