@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic');
@import url('http://s.hypercdn.ru/css/ProximaNovaRegular.css');
@import url('http://s.hypercdn.ru/css/ProximaNovaSemibold.css');
@import url('http://s.hypercdn.ru/css/ProximaNovaBold.css');
@import url('http://s.hypercdn.ru/css/ProximaNovaExtrabold.css');
@import url('http://s.hypercdn.ru/css/ProximaNovaBlack.css');

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

.center {text-align: center}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #f1f1f1;
	overflow-x: hidden;
	font-size: 12px;
	font-feature-settings: "smcp" 1;
}

@media (max-width: 530px) {
	body{
		/*display: none;*/
	}
}

a {
	transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.75);
	outline: 0;
	text-decoration: none;
}


a:hover {
	outline: 0;
	text-decoration: none;
}

header {
	background: #040404;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 700;
}

header a {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	padding: 5px 10px 5px 5px
}

header .left a {
	background: url(http://s.hypercdn.ru/img/hq7/assets/top-divider.png) top right no-repeat;
}

header a:hover {
	color: rgba(255,255,255,1);
}

header p{
	color: rgba(255,255,255,.4);
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

header .left {
	text-align: left;
}

header .right {
	text-align: right;
}

nav.dark {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #12161f;
	box-shadow: inset 0px -20px 10px -20px rgba(0, 0, 0, 0.5);
}

nav.dark p{
	color: rgba(255, 255, 255, 0.3);
	display: inline-block;
	font-size: 19px;
	margin-left: 15px;
	margin-right: 15px;
}

nav.dark h2 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav.dark a {
	color: #fafafc;
	text-decoration: none;
	font-family: 'Proxima Nova Bold', sans-serif;
	padding: 48px 18px;
	margin: 0 -2px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
	transition: 100ms cubic-bezier(0.25, 0.45, 0.45, 1);
}

nav.dark a:hover {
	color: #1e2535;
	background: #FFEB3B;
	text-shadow: none;
}

nav.sub {
	background: #ececec;
	text-align: center;
	/*border-bottom: 1px solid rgba(224, 224, 224, 0.3);
	border-top: 1px solid rgba(0, 0, 0, 0.05);*/
	padding: 8px 0;
	font-size: 12px;
	text-transform: uppercase;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

nav.sub li {
	display: inline;
}

nav.sub a {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #222;
	text-decoration: none;
	padding: 5px;
	display: inline;
}

nav.sub a:hover {
	color: rgba(0, 0, 0, 0.6);
}

nav.dark .active {
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	/*border: 1px solid rgb(37, 79, 152);*/
	/*box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);*/
}

nav.dark .active:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
}

nav #main, nav #main:active {
	color: #111;
	/* padding: 15px; */
	font-size: 45px;
	text-shadow: none;
	padding: 15px 25px;
}

nav #main:hover{
	background: rgba(0, 0, 0, 0.4);
	color: #111;
}

nav #main img{
	max-width: 200px;
	padding: 0;
	margin-top: -8px;
}


nav .main-logo {
	/*margin-top: 10px;*/
}

nav .main-nav {
	margin-top: 27px;
	font-size: 14px;
	transform: skew(-20deg);
}

nav .main-nav a .skew-fix{
	display:inline-block;
	transform: skew(20deg);
}

header,
nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: default;
}

@media (max-width: 540px) {
	nav .main-nav {
		padding: 0 0 20px 0 !important;
	}
	nav.dark a {
		display: block;
		font-size: 20px;
	}
	nav .main-nav,
	nav .main-nav a .skew-fix {
		transform: skew(0deg) !important;
	}
}

@media (max-width: 770px) {
	nav.dark a {
		padding: 12px 12px;
	}
	nav .main-nav,
	nav .main-nav a .skew-fix {
		transform: skew(0deg) !important;
	}
	.index__header .bg .index__nav img.poster {
		display: none;
	}
	nav #main, nav #main:active, nav #main:hover  {
		background: transparent;
	}
	nav .main-nav {
		padding: 22px;
		margin-top: 0;
	}
}

@media (max-width: 998px) {
	nav .main-nav {
		margin-top: 25px;
	}
}

.main h1{
	font-size: 32px;
}

footer {
	background: #0a0a0a;
	color: #fff;
}

footer a {
	color: #7d7d7d;
	text-decoration:none;
	padding-bottom: 3px;
	margin-left: 2px;
}

footer ul.projects a {
	margin-left: 5px;
	margin-top: 5px;
}

footer ul.projects img {
	border-radius: 2px;
}

footer ul.projects li {
	display: flex;
}

footer ul.projects li.projects a {
	display: flex;
	margin-left: 0;
}


footer a:hover {
	color: #fefefe;
}

footer ul {
	margin-top: 10px;
}

footer li {
	list-style-type: none;
	padding: 2px 0px;
}

footer h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #222;
	padding-bottom: 3px;
	font-family: 'Proxima Nova Bold';
	font-size: 12px;
}

footer .grid .block {
	margin-top: 20px;
}

footer .bottom {
	color: #7d7d7d;
	text-transform: uppercase;
}

footer .bottom h4 {
	color: #fefefe;
	font-size: 1.05rem;
}

footer .bottom a{
	color: #fefefe;
	border-bottom: 0px solid rgba(254, 254, 254, 0);
	text-decoration: none;
}

footer .bottom a:hover{
	border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

footer .footer-bottom{
	border-top: 1px solid #222;
	padding-bottom: 20px;
}

footer .copyright-footer {
	width: 100%;
	background: #040404;
	text-align: center;
	padding: 5px;
	color: #7d7d7d;
	font-family: 'Proxima Nova Regular';
}

.footer-light {
	background: transparent;
	color: #666;
	text-align: center;
}

footer .social{
	color: #888;
}

.restrictions {
	float: right;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	/*border-radius: 20px;*/
	font-weight: bold;
	font-size: 10px;
	margin-right: 15px;
	margin-top: -5px;
	border: 1px solid #7d7d7d;
}

.icon {
	font-style: normal;
}

@media screen and (max-width: 1366px) {
	.blog {
		max-width: 748px;
	}
}

.blog .post {
	background: #fff;
	margin:10px;
	text-align: center;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
	text-overflow: ellipsis;
	overflow: hidden;
}

.blog .post-shadow {
	width: 95%;
	height: 20px;
	position: relative;
	margin: auto;
	z-index: -1;
	opacity: .3;
	margin-top: -25px;
}

.blog .post-shadow:after,
.blog .post-shadow:before {
	content: '';
	position: absolute;
	background: #171c24;
	height: 100%;
	width: 50%;
	left: 10px;
	top: -20px;
	-webkit-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-webkit-box-shadow: 0 0 15px 8px #171c24;
	box-shadow: 0 0 15px 8px #171c24;
}

.blog .post-shadow:before {
	right: 10px;
	left: auto;
	-webkit-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.blog .post p {
	margin-top: 10px;
	color: #41434e;
	line-height: 19px;
	font-size: 14px;
	text-align: left;
}

.blog .post h2 {
	font-family: 'Proxima Nova Extrabold';
	text-align: center;
	color: #252525;
	font-size: 6vmin;
}

.blog .post a {
	font-family: 'Proxima Nova Extrabold';
	text-align: center;
	color: #1e2535;
	font-size: 5vmin;
	text-decoration-skip: ink;
	text-decoration: underline;
	text-decoration-color: transparent;
}

.blog .post a:hover {
	text-decoration-color: #1e2535;
}

.blog .post .postdate{
	margin-top: 0;
	color: #666;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

.blog .post p,
.blog .post h2 {
	padding: 0px 20px;
}

.blog .post .tmblr-full img, .devices img{
	text-align: center;
	width: 100%;
	height: auto;
	margin: 10px 0;
}

.container{
	padding: 30px 20px;
}

.donate p {
	margin-top: 15px;
}

.donate h1 {
	color: #252525;
	font-size: 54px;
	font-family: 'Proxima Nova bold';
}

.donate progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	height: 2px;
	width: 100%;
}

.donate progress::-webkit-progress-bar {
	background: #C7C7CC;
}

.donate progress::-webkit-progress-value {
	background: #007AFF;
}

.donate .status {
	margin-top: 5px;
	color: #777;
}

::selection {
	background: #C62828;
	color: #fefefe;
}

::-moz-selection {
	background: #C62828;
	color: #fefefe;
}

@media screen and (max-width: 601px) {
	nav p {
		display: none;
	}

	nav a {
		padding: 5px;
	}
}

.line-separator {
	position: relative;
	height: 1px;
	margin: 1vw 0;
}

.line-separator:before {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: linear-gradient(90deg, transparent 0, hsla(0, 0%, 50%, .25) 50%, transparent);
	bottom: 0;
}

.line-separator:after {
	display: block;
	content: '';
	width: 100%;
	height: 9px;
	position: absolute;
	background: radial-gradient(ellipse at top, hsla(0, 0%, 30%, .25) 0, transparent 30%);
}

.studio {
	padding: 30px 20px 30px 20px;
	max-width: 930px;
}

.studio .contact {
	margin-top: 45px;
}

.studio .fa-angle-right {
	font-size: 30px;
	color: #05f;
}

.studio h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: 'Proxima Nova Extrabold';
}

.studio p {
	font-size: 14px;
	color: #444;
	line-height: 20px;
}

.studio a {
	text-decoration: none;
	color: #08c;
	font-size: 14px;
}

.studio a:hover {
	color: #e2223f;
}

.studio .block {
	color:#222;
	font-size: 24px;
	margin: -35px 0 0 40px;
}

.studio .block .text{
	margin-top: 5px;
}

.studio .small-block {
	color:#222;
	margin: -14px 0 10px 25px;
}

.details {
	margin-top: 40px;
}

.details .method {
	padding: 10px;
}

.details h2 {
	font-family: 'Proxima Nova Extrabold';
	font-size: 32px;
	text-transform: uppercase;
	color: #252525;
}

.details p{
	line-height: 20px;
	color: #333;
}

.details .info{
	margin-top: 10px;
}

.transformer-tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.transformer-tabs li {
	display: inline-block;
	padding: 0;
	vertical-align: bottom;
}
.transformer-tabs li .active {
	color: #08c;
}
.transformer-tabs a {
	display: inline-block;
	color: #ccc;
	text-decoration: none;
	padding: 0.5rem;
}
.transformer-tabs a.active {
	transition: 0s;
	position: relative;
}
@media (max-width: 500px) {
	.transformer-tabs ul {
		border-bottom: 0;
		overflow: hidden;
		position: relative;
		background: #666;
		/* fallback */
		background: #222;
	}
	.transformer-tabs ul::after {
		content: "☰";
		position: absolute;
		top: 8px;
		right: 15px;
		z-index: 2;
		color: #ccc;
		pointer-events: none;
	}
	.transformer-tabs ul.open a {
		position: relative;
		display: block;
	}
	.transformer-tabs li {
		display: block;
	}
	.transformer-tabs a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.transformer-tabs a.active {
		border: 0;
		z-index: 1;
		background: #666;
		/* fallback */
		background: #222;
		margin: 3px;
	}
}

.tabs > div {
	display: none;
	padding: 1rem;
}
.tabs > .active {
	display: block;
}

.tabs nav {
	background: transparent;
	text-align: center;
}

.actor {
	height: auto;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}

.actor img {
	border-radius: 4px;
	max-width: 128px;
	max-height: 128px;
}

.actor .name {
	text-align: center;
	line-height: 1em;
	margin: 10px 0 5px;
	color: #111;
}

.actor .name a{
	color: #222;
	text-decoration: none;
}

.actor .name a{
	color: #333;
}


.actor .title {
	text-align: center;
	line-height: 1em;
	color: #777;
}

.people-hero {
	/*background: url(https://hyperbringer.ru/img/studio_header_wide_1920.jpg);*/
	background: url(https://hq7.ru/img/studio_header_wide_1920.jpg);
	background-color: #ccc;
	background-color: skyblue;
	background-blend-mode: luminosity;
	height: 175px;
	position: relative;
}

.people-hero::before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDMgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyAzIj48ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiPjxwYXRoIGQ9Im0wIDIuNWgzLTN6Ii8+PHBhdGggZD0ibTIuNSAwdjMtM3oiLz48L2c+PC9zdmc+);
	background-repeat: repeat;
	background-attachment: scroll;
	opacity: 0.7;
	background-position: 0 0;
	background-color: rgba(0, 0, 0, 0.1);
	filter: blur(1px);
	content: "";
	height: 175px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.overview-hero, .people-hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.people-head{
	text-align: center;
	margin: 30px auto;
	font-size: 26px;
	color: #353535;
}

.people{
	max-width: 748px;
}

.tile, .tile-hero {
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	/*box-shadow: inset 0 100px 90px 15px rgba(0, 0, 0, 0.05);*/
	box-shadow: inset 0 100px 200px -120px rgba(0, 0, 0, 0.9);
}

.tile-content-fixed {
	width: 95%;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}

.about-center {
	text-align: center;
}

.about-h3 {
	margin-top: -5px;
	color: #fdfdfd;
	font-weight: 400;
}

.about-h1 {
	font-size: 7vmin;
	color: #fefefe;
	font-family: 'Proxima Nova Regular';
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 5px;
}

li.projects a {
	color: #f5f5f5;
	font-weight: 700;
}

li.projects a:hover {
	color: #f2f322;
}

.hero {
	background-color: #0040C1;
	position: relative;
	height: 15vh;
	overflow: hidden;
}

.hero__title {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	z-index: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

.cta {
	color: #13151f;
	margin: 0 auto;
	border-radius: 25px;
	text-align: center;
	-webkit-transition: width .1s ease-in-out;
	transition: width .1s ease-in-out;
	cursor: pointer;
}
.cta .hide {
	display: none;
}
.cta form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.cta span {
	opacity: 0;
	width: 100%;
	text-align: center;

	-webkit-animation: fadeIn .2s ease-in-out;
			animation: fadeIn .2s ease-in-out;
	-webkit-animation-delay: .1s;
			animation-delay: .1s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;

}
.cta .input {
	display: none;
	opacity: 0;
	-webkit-box-flex: 3;
		-ms-flex: 3;
			flex: 3;
	text-align: left;
}
.cta .input input {
	border: 2px;
	margin-top: 5px;
	width: 310px;
	height: 25px;
	outline: none;
	color: #333;
	padding: 7px;
	background: #fdfdfd;
	border-radius: 2px;
}

.cta .input input::-webkit-input-placeholder {
	color: #333;
}
.cta .input input:-moz-placeholder {
	color: #333;
	opacity: 1;
}
.cta .input input::-moz-placeholder {
	color: #333;
	opacity: 1;
}
.cta .input input:-ms-input-placeholder {
	color: #333;
}

.cta .button {
	display: none;
	opacity: 0;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
}
.cta .button button {
	line-height: 35px;
	outline: none;
	padding: 0 15px;
	float: right;
	width: 34px;
	height: 34px;
	background: #ececec;
	border-radius: 25px;
	color: #05f;
	border: 0;
	 font-size: 20px;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.cta .button button:disabled {
	color: #afafaf;
	background: #ececec;
}
.cta.sent {
	cursor: default;
}
.cta.active {
	width: 350px;
	text-align: left;
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
	cursor: default;
}
.cta.active span {
	display: none;
}
.cta.active .input, .cta.active .button {
	display: block;

	-webkit-animation: fadeIn .2s ease-in-out;
			animation: fadeIn .2s ease-in-out;
	-webkit-animation-delay: .1s;
			animation-delay: .1s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;

}

@-webkit-keyframes fadeIn {
	0% {
	opacity: 0;
	-webkit-transform: scale(0.3);
			transform: scale(0.3);
	}
	100% {
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1);
	}
}

@keyframes fadeIn {
	0% {
	opacity: 0;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	}
	100% {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
}

.apps-header {
	text-align: center;
}

.apps-header h1 {
	font-size: 54px;
	font-family: 'Proxima Nova Regular';
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.statistics h2 {
	font-size: 12px;
	color: #999;
	margin-bottom: -10px;
}

.statistics .num {
	font-size: 48px;
	color: #41434e;
	font-weight: 700;
}

.statistics .block {
	margin-top: 30px;
}

.workshop {
	max-width: 767px;
}

.workshop h2 {
	color: #252525;
	font-size: 36px;
	font-family: 'Proxima Nova Bold';
}

.workshop p {
	margin-top: 15px;
	margin-left: 20px;
}

.index__header {
	background-color: #fff;
	width: 100%;
	position: relative;
}


.index__header .bg{
	/*51936
	490513*/
	/*background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-76625.jpg);*/
	/*background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-51936.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.index__header .bg::before {
	content: "";
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iM3B4IiBoZWlnaHQ9IjNweCIgdmlld0JveD0iMCAwIDMgMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMyAzIj48ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiPjxwYXRoIGQ9Im0wIDIuNWgzLTN6Ii8+PHBhdGggZD0ibTIuNSAwdjMtM3oiLz48L2c+PC9zdmc+);
	position:absolute;
	width: 100%;
	filter: blur(0.1px);
	opacity: 0.5;
	height: 700px;
	background-color: #12161f;
	background-blend-mode: luminosity;
}

.index__header .bg .index__nav {
	position: absolute;
	color: #fff;
	bottom: 0;
	width: 100%;
	padding: 30px;
	line-height: 0.9;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(18,22,31,0.9) 50%,rgba(18,22,31,0.95) 80%,rgb(26, 32, 44) 100%);
}

.index__header .bg .index__nav h1{
	font-family: 'Proxima Nova Extrabold';
	font-size: 2.3rem;
	padding:  0 0 5px 0;
	text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	letter-spacing: 2px;
}

.index__header .bg .index__nav h2{
	font-family: 'Proxima Nova Extrabold';
	font-size: 22px;
	padding: 10px 0 10px 0;
	color:#FFEB3B;
}

.index__header .bg .index__nav img.poster{
	width: 100%;
	height: auto;
	box-shadow: -2px 3px 20px 2px rgba(0, 0, 0, .7);
}

.index__header .bg .extra {
	display: flex;
	padding: 20px 0;
	/* line-height: 14px; */
}

.index__header .bg .extra p{
	margin-right: 10px;
	padding-bottom: 10px;
}


.index__header .bg .index__nav  p.description {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
	color: rgba(255, 255, 255, 0.7);
	letter-spacing: .1px;
	line-height: 1.1;
}

.index__header .bg .index__nav .watch__now {
	/* background: #FFEB3B; */
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	padding: 8px 15px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.75);
	border-radius: 50px;
	border: 2px solid #FFEB3B;
	margin-left: 5px;
}

.index__header .bg .index__nav .watch__now:hover {
	color: #FFEB3B;
	box-shadow: 0px 0px 30px -5px rgba(255, 210, 19, 0.3);
}

.index__header .bg .index__nav .trailer {
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	padding: 8px 15px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	border-radius: 50px;
	border: 2px solid #fff;
	transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.75);
}

.index__header .bg .index__nav .trailer:hover {
	box-shadow: 0px 0px 30px -5px rgba(255, 255, 255, 0.2);
	color: #FFEB3B;
}

.index__header .watch__trailer video {
	width: 100%;
	height: 643px;
	vertical-align: middle;
	/*filter: blur(0.4px) saturate(1.2) hue-rotate(0deg) brightness(1) contrast(1.2) invert(0) sepia(0);*/
}

.index__header .watch__trailer .replay{
	position: absolute;
	font-size: 10vmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ececec;
	text-shadow: 0 0 100px rgb(0, 0, 0);
}

.index__header .watch__trailer .seekbar{
	height: 0.1em;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: -1px;
	padding-top: 0;
}

.index__header .watch__trailer .seekbar span{
	background-color: #007AFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0.1em;
	transition: width .1s ease-in-out;
}

.index__header .watch__trailer {
	width: 100%;
	position: absolute;
	top: 0;
	background: #000;
	display: none;
	opacity: 1;
	animation: trailer-transition 0.3s ease-out;
}

:-webkit-full-screen {
	background: #000;
}

:-moz-full-screen {
	background: #000;
}

.index__header .watch__trailer .fullscreen{
	height: 100% !important;
	width: 100%;
}

@keyframes trailer-transition {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

.index__header .watch__trailer .h3 {
	color: #fefefe;
	text-align: center;
	margin: 0 auto;
	line-height: 56px;
	width: 100%;
	height: 57px;
	font-weight: 400;
}

.index__header .watch__trailer .h3 a.btn {
	transition: 500ms cubic-bezier(0.25, 0.46, 0.45, 0.75);
	border: 2px solid #FFEB3B;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
	text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.index__header .watch__trailer .h3 a:hover.btn {
	color: #FFEB3B;
	background: #0c0c0e;
	/*border-bottom: 1px solid #348a37;*/
	/*border: 1px solid rgba(255, 193, 7, 0.5);*/
}

.index__header .watch__trailer .h3 a:active.btn {
	color: rgba(255,255,255,0.8);
	/*box-shadow: 0 7px 20px -10px rgba(7, 24, 58, 0.8);*/
}

.index__header .watch__trailer .h3 a.btn-close{
	background: transparent;
	padding: 0 10px;
	color: #fff;
	border: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

.index__header .watch__trailer .h3 a:hover.btn-close{
	color: #999;
	background: transparent;
}

.index__header .watch__trailer .h3 a:active.btn-close {
	color: rgba(255, 255, 255, 0.99);
	/*box-shadow: 0 7px 20px -10px rgba(7, 24, 58, 0.8);*/
}

@media (max-width: 1367px) {
	.index__header .bg{
		height: 615px;
	}
	.index__header .bg::before {
		height: 615px;
	}
	.watch__trailer video {
		height: 558px !important;
	}
}

@media (max-width: 766px) {
	.index__header .bg .index__nav img.poster{
		display: none;
	}
}

@media (max-width: 640px) {
	.index__header .bg{
		height: 300px;
	}
	.index__header .bg::before {
		height: 300px;
	}
	.watch__trailer video {
		height: 243px !important;
	}
	.index__header .bg .index__nav {
		text-align: center;
		padding: 0px !important;
	}
	.index__header .bg .index__nav  p.description {
		display: none;
	}
	.index__header .bg .extra {
		text-align: center;
		display: inline-flex;
	}
	.index__header .bg .index__nav h2 {
		text-align: center !important;
		margin: 0;
	}
	.index__header__bottom .h3 p {
		display: none;
	}
}

.index__header__bottom {
	width: 100%;
	height: auto;
	background-color: #1a202c;
}

.index__header__bottom .h3{
	text-align: center;
	margin: 0 auto;
	line-height: 56px;
	font-weight: 400;
	/*border-bottom: 1px solid #161822;
	outline: 1px solid #161822;*/
	border-bottom: 1px solid #242c3c;
	font-size: 12px;
}

.index__header__bottom .h3 .pay{
	display: inline-block;
}

.index__header__bottom .h3 p{
	text-transform: uppercase;
	color: #fefefe;
	/* margin-left: 15px; */
	font-family: 'Roboto', Arial, sans-serif;
	/* font-size: 3vmin; */
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 15px;
	display: inline;
}

.index__header__bottom .h3 a {
	text-decoration: none;
	color: #9e9e9e;
	padding-bottom: 1px;
}


.index__header__bottom .h3 a.btn {
	transition: all 0.2s linear;
	background: linear-gradient(90deg, rgb(18, 22, 31) 0%, rgb(18, 22, 31) 50%);
	padding: 8px 20px 8px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	border-radius: 0 50px 50px 0;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
	text-overflow: ellipsis;
	white-space: nowrap;
	border-top: 2px solid #626a7d;
	border-right: 2px solid #626a7d;
	border-top: 2px solid #626a7d;
	border-bottom: 2px solid #626a7d;
	/* border-left: transparent; */
	overflow: hidden;
}

.index__header__bottom .h3 a:hover.btn {
	background-position: 0 0;
	background: linear-gradient(90deg, #12161f 0%, #1a202c 100%);
	color: #FFEB3B;
}

.index__header__bottom .h3 a:active.btn {
	color: rgba(255, 255, 255, 0.9);
}

.index__header__bottom .h3 a.btn-info{
	background: linear-gradient(90deg, rgb(18, 22, 31) 0%, rgb(18, 22, 31) 100%);
	padding: 8px 15px;
	color: #fff;
	margin-right: -3px;
	border-radius: 50px 0 0 50px;
	border-top: 2px solid #626a7d;
	border-bottom: 2px solid #626a7d;
	border-left: 2px solid #626a7d;
	border-right: transparent;
}

.index__header__bottom .h3 a:hover.btn-info{
	background: linear-gradient(90deg, #1a202c 50%, #12161f 100%);
	color: #FFEB3B;
}

.index__header__bottom .h3 a:active.btn-info {
	color: rgba(255, 255, 255, 0.9);
}


.index__header__bottom .h3 b {
	text-transform: uppercase;
	color: #333;
	margin-left: 15px;
}

.index__list {
	width: 100%;
	background: linear-gradient(to top, #0a0a0a, #1a202c);
	padding: 0;
	box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
}

.index__list a.more{
	/* text-align: center; */
	text-decoration: none;
	color: #fff;
	border: 2px solid #FFEB3B;
	font-size: 16px;
	padding: 12px 28px;
	/* position: absolute; */
	/* width: 100%; */
	border-radius: 50px;
	text-transform: uppercase;
}

.index__list a.more:hover{
	color: #FFEB3B;
}

.index__list div.media {
	display: flex;
	width: 200%;
	margin-left: 0%;
	transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.index__list div.media:hover img{
	/*opacity: .8;
	filter: grayscale(50%);*/
}

.index__list div.media .top:hover .nav,
.index__list div.media .top:hover img{
	opacity: 1;
	transition: opacity 0.2s, visibility 0.3s;
}

.index__list div.media .top {
	position: relative;
	transition: 200ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
	padding: 12px;
	margin: 0 5px 45px 5px;
}

.index__list div.media .top:hover {
	transform: scale(1.02);
	z-index: 1;
}

.index__list div.media .top .info{
	position: absolute;
	width: 100%;
	margin: 2px 0;
	color: #c7c8cc;
}

.index__list div.media .top .info h4, h3{
	color: #596272;
	font-size: .8rem;
}

.index__list div.media .top .info h4 b{
	color: #fdfdfd;
	font-size: 24px;
}

.index__list div.media .top img{
	max-width:100%;
	box-shadow: 0 15px 50px -10px #000;
	border-radius: 2px;
}

.index__list div.media div.top.now {
	background: #0f1114;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #0f1114 90%);
	border-radius: 5px;
}

.index__list div.media div.top.now .info{
	margin: 5px 0;
}

.index__list div.media div.top.before {
	background: #0f1114;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #0f1114 90%);
	border-radius: 5px;
}

@media screen and (max-width: 384px) {
	.index__list div.media {
		display: table-cell;
	}
	.btn-group--slider {
		display: none;
	}
}

.index__list div.media .nav {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* padding: 0px; */
	display: grid;
	text-align: center;
}

.index__list div.media .nav a{
	color: #fff;
	font-size: 12px;
	margin: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px black;
}

.index__list div.media .nav a:hover{
	color: #FFEB3B;
}

.index__list div.media .nav a.watch{
	color: #333;
	background: #FFEB3B;
	padding: 2px 6px;
	font-size: 16px;
	border-radius: 2px;
	transform: skew(-10deg);
	text-shadow: none;
}

.index__list div.media .nav a.watch:hover{
	background: #FFC107;
}

.index__list .slider-media-header {
	font-size: 24px;
	color: #fff;
	padding: 20px 20px 10px 20px;
}

.index__list .slider-media-header .pull-right {
	float: right !important;
}

.index__list .slider-media-header .slider-media-title {
	color: #fff;
}

.index__list .slider-media-header .pull-right .btn__light {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border: none;
	padding: 0;
	outline: 0;
	line-height: 33px;
	font-size: 16px;
	background: #0c0c0e;
	color: #9E9E9E;
	transition: 150ms ease-out;
}

.index__list .slider-media-header .pull-right .btn__light:active {
	color: #fff;
}

#popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 2;
	overflow: hidden;
	display: none;
}

.container-fluid {
	padding: 15px;
}

.border {
	border-color: transparent !important;
}