<div class="container-fluid">
  <div *ngIf="info.token; else loggedOut">
    <div class="row">
      <div class="col-3">
<!--        <app-search-title></app-search-title>-->
        <app-titles></app-titles>
      </div>
      <div class="col-9">
<!--        <app-search-title></app-search-title>-->
<!--        <app-popular></app-popular>-->
      </div>
    </div>
  </div>
<app-footer-light></app-footer-light>

  <ng-template #loggedOut>
          <app-login></app-login>
  </ng-template>
</div>
