<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!--<app-search-title></app-search-title>-->
    </div>
    <div class="col-2"></div>
  </div>

  <h1 class="text-center">Создание нового элемента</h1>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <form name="newTitleForm" #f="ngForm" (ngSubmit)="f.form.valid && sendTitle()">

        <div class="form-group my-3">
          <label for="titleNameInputField">Название:</label>
          <input type="text"
                 class="form-control"
                 id="titleNameInputField"
                 placeholder="TWICE"
                 [(ngModel)]="model.titleName"
                 name="titleNameInputField"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">Ошибка введенных данных</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="titleCategoryControlSelect">Выберите страну</label>
          <select class="form-control" (change)="filterCategory($event.target.value)" id="titleCategoryControlSelect">
            <option *ngFor="let opt of opts" [value]="opt.id">{{opt.name}}</option>
          </select>
        </div>

        <div class="form-group my-3">
          <label for="titleCategoryControlSelect">Ссылка на превью</label>
          <input type="text" class="form-control col-12 mr-2" name="image" placeholder="http://s.hypercdn.ru/hq7/preview/qwerty.webp" [(ngModel)]="model.image" >
        </div>

        <div>
          <label for="awardInputForm">Добавить кинонаграды:</label>
          <form class="form-inline" id="awardInputForm">
            <input type="text" class="form-control col-4 mr-2" name="awardName" placeholder="Название" [(ngModel)]="award.awardName" >
            <input type="text" class="form-control col-6 mr-2" name="awardQuantity" placeholder="Примечание (год вручения, номинация/победа и др.)" [(ngModel)]="award.quantity" >
            <button type="submit" class="btn btn-success" (click)="addToAwardsList()">Добавить</button>
          </form>

          <div class="container-fluid">
            <ul class="list-group list-group-flush ml-1 mr-5 mt-4" style="max-height: 250px; overflow: scroll; -webkit-overflow-scrolling: touch">
              <li *ngFor="let ing of model.awardsList">{{ing.awardName}} {{ing.quantity}}</li>
            </ul>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="instructionsTextArea">Вставить видео (через iframe):</label>
          <textarea class="form-control"
                    id="instructionsTextArea"
                    rows="8"
                    [(ngModel)]="model.instructions"
                    name="instructionsTextArea"
                    #instructions="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && instructions.invalid }"
                    required
                    minlength="10"></textarea>
          <div *ngIf="f.submitted && instructions.invalid" class="invalid-input">
            <div *ngIf="instructions.errors?.required">Поле обязательно для заполнения</div>
            <div *ngIf="instructions.errors?.minlength">Мало данных (Необходиомо как минимум 10 символов)</div>
          </div>
        </div>

        <div class="form-group my-3">
          <label for="suggestionsTextArea">Добавить описание:</label>
          <textarea class="form-control"
                    id="suggestionsTextArea"
                    rows="8" [(ngModel)]="model.suggestions"
                    name="suggestionsTextArea"></textarea>
        </div>

        <div class="container-fluid my-5">
          <div class="row">
            <div class="col-7"></div>
            <div class="col"></div>
            <div class="col">
              <button type="submit" class="btn btn-info">Добавить</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
