<div *ngIf="isSignedUp; else signUpForm">
  Регистрация прошла успешно. Теперь можно авторизоваться.
</div>

<ng-template #signUpForm>
  <div class="login">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" required />

            <div *ngIf="f.submitted && name.invalid">
              <div *ngIf="name.errors.required">Необходимо ввести имя</div>
            </div>
          </div>

          <div class="form-group">
            <label for="username">Ник</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required />

            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Необходимо ввести ник</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />

            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Необходимо ввести электропочту</div>
              <div *ngIf="email.errors.email">Необходимо ввести валидную электропочту</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />

            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Необходимо ввести пароль</div>
              <div *ngIf="password.errors.minlength">Пароль должен содержать не менее 6 символов</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Зарегистрироваться</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Ошибка регистрации!<br/>{{errorMessage}}
            </div>
          </div>
        </form>
  </div>
</ng-template>
